<div class="question">
	<div class="content_question">
		<p id="notice"><%= notice %></p>
		<h4> タイトル: <%= @question.title %> </h4>
		<hr>
		<p>
		  <strong>内容:</strong>
		  <%= @question.content %>
		</p>
		<p>
	  	  <strong>オーナー:</strong>
	  	  <%= @question.user.email %>
		</p>

		<hr>
		<% if (current_user == @question.user) %>
		<%= link_to '編集', edit_question_path(@question) %> |
		<% end %>
		<%= link_to '戻る', questions_path %>
	</div>

	<div class="answer_question">
		<h4> <b> Number answer <b> </h4><br>
		<div class="create_answer">
			<div class="glyphicon glyphicon-user"></div>
			<div class="form">
				<form>
				<textarea rows="4" class="form-control" placeholder="Answer"></textarea>
				</form>	
			</div>
			
		</div>
	</div>
</div>
