<div class= "content">
    <h2>ログイン</h2>
        
    <div class ="container1">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label "メール" %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label "パスワード" %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <br>
              <%= f.check_box :remember_me %>
              <%= f.label "次回から自動的にログインする"%>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "ログイン" %>
          </div>
        <% end %>

       

    </div>



</div>



