<nav class="navbar navbar-inverse">
  <div class="container">
     <div class="nav form-inline"> 
        <div class="nav navbar-nav">
          <span class="glyphicon glyphicon-tint icon-page" aria-hidden="true"> アララ疑問 </span> 
        </div>       

        <div class="nav navbar-nav navbar-right">   
           <%= link_to "ホームページ", root_path%>
           &nbsp&nbsp&nbsp&nbsp
           
           <% if user_signed_in? %>
           <%= link_to current_user.email , edit_user_registration_path %>
           <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
           
           <% else %>
           <%= link_to "登録する", new_user_registration_path %>
           &nbsp&nbsp&nbsp&nbsp
           
           <%= link_to "ログイン", new_user_session_path %>

           <% end %>
        </div>
     </div>
  </div>
</nav>